.dark-mode{
    background-color: darken($grisOscuro, 10);
    p{
        color:$blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }
    .anuncios, .resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .icono{
            filter: invert(100%);
        }

        .precio{
            color:$verde;
        }
        
    }
    .texto-nosotros blockquote{
        color: $blanco;
    }
    .formulario{
        h3,
        label,
        legend,
        p{
            color: $grisOscuro;
        }

        input:not([type="submit"]),
        textarea,
        select{
            background-color: $grisOscuro;
            border: 2px solid $negro;
            color: $blanco;
        }
    }
    table.propiedades{
        thead{
            th{
                border: 3px solid #1a1a1a;
            }
        }
        tbody{
            background-color: #1a1a1a;
            td{
                font-size: 20px;
                color: $blanco;
                border-bottom: 4px solid $blanco;
            }
            .identificador-dark{
                color: #1b6d22;
                font-size: 2rem;
                border-bottom: 4px solid #1b6d22;
            }
        }
    }
    .main-login{
        background-color: #444444;

        .box-login{
            background-color: #a8a8a8;
            .form-login{
                border: 1px solid rgb(26, 26, 26);
                h2{
                    background-color: black;
                }
            }
        }
    }
}