@include tablet{
    .contenedor-anuncios{
        @include grid(2,1rem);
    }

}

.anuncios{
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);

    .contenedor-anuncios{
        padding: 2rem;
    }
    h3, p{
        margin: 0;
        padding-left: 10px;
    }
    
}
.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 2.4rem;
}
.iconos-caracteristicas{
    display: flex;
    padding: 0;
    list-style: none;
    li{
        flex:1;
        display: flex;
        margin-left: 10px;
        img{
            flex: 0 0 4.5rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }
    }


}