.footer{
    margin-top: 10%;
    padding: calc($separacion / 2 ); 
    background-color: $gris;
    margin-bottom: 0;
    border-top: 1px solid #ededed;

    .footer-line{
        display: flex;
        justify-content: space-between;
        width: 1200px;
        
        .footer-email{
            color: $azul;
            font-size: 1.8rem;
            font-weight: 800;
        }
        .footer-line-box2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            
        }
        
    }

    h3{
        color: rgba(0, 0, 0, 0.729);
    }
    .navegacion-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color: rgb(126, 125, 125);
            font-weight: bold;
            font-size: 1.8rem;
            &:hover{
                color: $azul;
                transition: 3ms all ease-in-out;
            }
        }
        
    }

    
}
.footer-img{
    width: 50px;
}

.footer-img-email{
    width: 25px;
}
    

.contenedor-footer{
    border-top: 1px solid;
    width: 100%;
    background-color: rgb(185, 185, 185,);
    height: 80px;

    .copyright{
        color: $negro;
        text-align: center;
    }
}

